#canvas
{
    border-width:10px;
    background-color: aliceblue;
    border-style: ridge;
}
.body_background
{
    background-image:url("avenger_bg.jpg");
    background-position: center;
    background-size: cover;
}
h1{
    border-radius: 20px;
    width: 200;
}
h3{
    display: inline-block;

}
div
{
    width: 600px;
    margin-bottom: 10px;
}